header{
    width:100%;
    height:60px;
    line-height:60px;
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:black;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:13px 15px 0px 15px;
  color:black;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#131313;  position:absolute; text-align:center;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}
.container {
    display: inline-block;
    cursor: pointer;
    float: right;
    margin: 20px;

}


*{
     font-family: 'Timmana', sans-serif;
}
h2{
    float:left;
    margin-left: 20px;
}
.first_div{
    background-image: url("landscape.jpg");
    background-size: 100%;
    width:100%;
    height:500px;
}
h1{
    padding-top:150px;
    left: 50px;
    top:-50px;
    bottom:50px;
    text-align: center;

}
.second_div{
    margin: 50px;
}


#second {
    float:left;
    margin-right: 30px;
    margin-bottom: 50px;

}

p{
    flex-wrap: wrap;
    font-size: 20px;
    padding-right: 40px;
}
.info{
    display:block;
}
#last_one{
    float:right;
    padding-bottom: 20px;

}
#contact{
    display:block;
    padding-left: 20px;
    width:25%;
}
#moms{
  margin-top: 100px;
  height: 500px;
  width: 500px;
}
@media screen and (min-width: 1440px){
    #contact{
        float:left;
    }
}
@media screen and (max-width: 1130px){
    #contact{
        clear:both;
        width:100%;

    }
}
@media screen and (max-width: 960px){
    .info{
        width:100%;
        overflow: none;
    }
    #last_one{
        width: 100%;
        background-size:100%;

    }



}